@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Montserrat:wght@400;700&display=swap")
.body {
  font-family: "Edu TAS Beginner", cursive;
  background-color: #fdba74;
  margin-left: 50px;
  margin-top: 30%;
}
.App {
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  background-color: #f9a8d4;
  padding: 4rem 2rem;
  border: 5px solid purple;
  border-radius: 2rem;
  width: 750px;
  height: 300px;
}

#root {
  width: 500px;
  margin-left: 300px;
  margin-top: 10%;
}
.Heading {
  margin-bottom: 10px;
}

input {
  width: 40vh;
  height: 5vh;
  padding: 10px;
}
